* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 70%;
    margin: 20px auto;
}

.header-nav {
    background-color: #008a0e;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.header-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border: #000000 2px solid;
    background-color: #ffffff;
}

.header-nav a:hover {
    background-color: #83f28f;
    color: #000000;
}

a.active {
    background-color: #83f28f;
    color: #000000;
}

header {
    display: flex;
    gap: 20px;
}

body {
    background-color: #afa071;
    font-size: large;
}

.intro {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.intro p {
    text-align: center;
}

.index-parkour a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.index-drop {
    display: flex;
    flex-direction: column;
    padding: 0px 220px 0px 220px;
}

.index-drop a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.top-main-content {
    display: flex;
    flex-direction: row;
}

#parkour-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 5px solid #008a0e;
}

.main-content {
    margin-top: 50px;
}

.drop-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.drop-text {
    max-width: 60%;
}

.drop-text h1 {
    margin-bottom: 20px;
}

.drop-image {
    display: flex;
    justify-content: end;
    align-items: center;
}

.drop-image img {
    max-width: 80%;
    border: 5px solid #008a0e;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 100%;
}

form input,
textarea {
    width: 100%;
}

.form-group button {
    align-self: flex-end;
}

.footer {
    background-color: #008a0e;
    color: #ffffff;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-right: 20px;
}
